<template>
<div class="Dishes">
	<div class="container_Dishes">
		<h2>Bienvenido al menu</h2>
        <h2>Menu {{dishId}}</h2>
        <input type="number" v-model="id_Dish" v-on:click="getID" name="numberInput" placeholder="Menu id" min="1" step="1">
        <button v-on:click="deleteDish">  Eliminar plato </button>
         <ul>
            <li v-if="bandera"><span>Plato: {{name_Dish}}</span></li>
            <li v-if="bandera"><span>Ingrediente 1: {{ingredient_1}}</span></li>
            <li v-if="bandera"><span>Ingrediente 2: {{ingredient_2}}</span></li>
            <li v-if="bandera"><span>Ingrediente 3: {{ingredient_3}}</span></li>
            <li v-if="bandera"><span>Disponible</span></li>
            <li v-if="!bandera"><span>No disponible</span></li> 
	     </ul>
    </div>
 </div>   
</template>


<script>
import axios from 'axios';


export default {
    name: 'Menu',
	data: function(){
		return{ 
            dishId:1,
            name_Dish: "",
            ingredient_1: "",
            ingredient_2: "",
            ingredient_3: "",
            isAviable: false,
            bandera: false,
            }
	},

    methods:{

    getID: function(){
         this.dishId=this.id_Dish 
         console.log(this.id_Dish)
         this.getData();
    },    
          
    getData: async function () {
        axios.get(`https://finalappminittestg02.herokuapp.com/menu/${this.dishId.toString()}/`)
                .then((result) => {
                    this.name_Dish = result.data.name;
                    this.ingredient_1 = result.data.ingredient_1;	
                    this.ingredient_2 = result.data.ingredient_2;
                    this.ingredient_3 = result.data.ingredient_3;
                    this.isAviable= result.data.isAviable;
                    this.bandera=true;
                    })
                .catch(() => {
                    this.bandera=false;
                    
                });
        },

    deleteDish:async function (){
        axios.delete(`https://finalappminittestg02.herokuapp.com/menu/remove/${this.dishId.toString()}/`)
        .then(response => {
            alert(`Se elimino el plato ${this.dishId.toString()}`);;
        }).catch(() => {
           alert("No se pudo eliminar el registro");
        });
    }, 

},    

    created: async function(){
        this.getData();
    }
}
</script> 


<style>

	.Dishes{
		margin: 0;
		padding: 0%;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
    
	.container_Dishes {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.container_Dishes {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 50%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.Dishes h2{
		color: #283747;
	}
	
	.Dishes input{
		height: 40px;
		width: 40%;
		box-sizing: border-box;
		padding: 10px 20px;
		margin: 5px 0;
		border: 1px solid #283747;
	}

	.Dishes button{
		width: 40%;
		height: 40px;
		color: #E5E7E9;
		background: #283747;
		border: 1px solid #E5E7E9;
		border-radius: 5px;
		padding: 10px 25px;
		margin: 5px 0 25px 0;
	}

	.Dishes button:hover{
	    color: #E5E7E9;
	    background: crimson;
		border: 1px solid #283747;
	}

</style>