<template>
		<div class="new_menu">
			<div class="container_new_menu">
				<h2>Nuevo Menu</h2>
				<form name="new" v-on:submit.prevent="processSignUp" >
					<input type="text" v-model="dish.name" placeholder="Nombre">
					<br>
					<input type="text" v-model="dish.ingredient_1" placeholder="Ingrediente 1">
					<br>
					<input type="text" v-model="dish.ingredient_2" placeholder="Ingrediente 2">
					<br>
					<input type="text" v-model="dish.ingredient_3" placeholder="ingredient  3">
			<br>
				<button type="submit">Nuevo menu</button>
			</form>
		</div>

			<div class="container_mod_menu">
				<h2>Modificar Menu</h2>
				<form name="mod" v-on:submit.prevent="dishMod" >
					<input type="number" v-model="dish_id" placeholder="Plato ID" v-on:click="getDataMod">
					<br>
					<input type="text" v-model="dish_mod.name" placeholder="Nombre">
					<br>
					<input type="text" v-model="dish_mod.ingredient_1" placeholder="Ingrediente 1">
					<br>
					<input type="text" v-model="dish_mod.ingredient_2" placeholder="Ingrediente 2">
					<br>
					<input type="text" v-model="dish_mod.ingredient_3" placeholder="ingredient  3">
			<br>
				<button type="submit">actualizar</button>
			</form>
	       </div>
 </div>
  
 

</template>

<script>
	import axios from 'axios';
	export default {
			name: "newMenu",
	data: function(){
		return {
			dish_id:1,

			dish: {
                name        : "",
                ingredient_1: "",
                ingredient_2: "",
                ingredient_3: "",
			},

			dish_mod: {
                name        : "",
                ingredient_1: "",
                ingredient_2: "",
                ingredient_3: "",
				isAviavle: false,
			},


		}
	},

	methods: {
		processSignUp: function(){
			axios.post(
					"https://finalappminittestg02.herokuapp.com/menu/create/",
					this.dish,
					{headers: {}}
					).then((result) => {
						let dataSignUp = {
							name: this.dish.name,
							ingredient_1: this.dish.ingredient_1,
							ingredient_2: this.dish.ingredient_2,
                            ingredient_3: this.dish.ingredient_3,
						}
						this.$emit('loadDish')
					})
					.catch((error) => {
						console.log(error)
						alert("ERROR: Fallo en el registro.");
				});
			}
,
		    
			dishMod: function(){
			axios.put(
					`https://finalappminittestg02.herokuapp.com/menu/update/${this.dish_id.toString()}/`,
					this.dish_mod,
					{headers: {}}
					).then((result) => {
						let dataSignUp = {
							name: this.dish.name,
							ingredient_1: this.dish_mod.ingredient_1,
							ingredient_2: this.dish_mod.ingredient_2,
                            ingredient_3: this.dish_mod.ingredient_3,
							isAviavle: this.dish_mod.isAviavle,
						}
						this.$emit('loadDish')
					})
					.catch((error) => {
						console.log(error)
						alert("ERROR: Fallo en el registro.");
				});
			},	
		
		
		 getDataMod: async function () {
         axios.get(`https://finalappminittestg02.herokuapp.com/menu/${this.dish_id.toString()}/`)
                .then((result) => {
                    this.dish_mod.name = result.data.name;
                    this.dish_mod.ingredient_1 = result.data.ingredient_1;	
                    this.dish_mod.ingredient_2 = result.data.ingredient_2;
                    this.dish_mod.ingredient_3 = result.data.ingredient_3;
                    this.dish_mod.isAviable= result.data.isAviable;
                    })
                .catch(() => {

					this.dish_mod.name = "";
                    this.dish_mod.ingredient_1 = "";	
                    this.dish_mod.ingredient_2 = "";
                    this.dish_mod.ingredient_3 = "";
                    this.dish_mod.isAviable= false;
                    
                });
         },	
		}
	}    
</script>


<style>


	.new_menu{
		margin: 0;
		padding: 0%;
		height: 100%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items:center;
	}
	.container_new_menu {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 25%;
		height: 70%;
		display: flex;
		flex-direction: center;
		justify-content: center;
		align-items: center;
	}

	.container_new_menu {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 25%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.new_menu h2{
		color: #283747;
	}
	.new_menu form{
		width: 70%;
	}
	.new_menu input{
		height: 40px;
		width: 100%;
		box-sizing: border-box;
		padding: 10px 20px;
		margin: 5px 0;
		border: 1px solid #283747;
	}
	.new_menu button{
		width: 100%;
		height: 40px;
		color: #E5E7E9;
		background: #283747;
		border: 1px solid #E5E7E9;
		border-radius: 5px;
		padding: 10px 25px;
		margin: 5px 0 25px 0;
	}
	.new_menu button:hover{
	    color: #E5E7E9;
	    background: crimson;
		border: 1px solid #283747;
	}


	
	.container_mod_menu {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 25%;
		height: 70%;
		display: flex;
		flex-direction: center;
		justify-content: center;
		align-items: center;
	}

	.container_mod_menu {
		border: 3px solid #283747;
		border-radius: 10px;
		width: 25%;
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

</style>


